:root {
  --white: #f5f5f5;
  --gray: #ffffff;
  --black: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --dark-secondary-color: #ffffff;
  --tertiary-color: #ffffff;
  --light-tertiary-color: #f5f5f5;
  --text-color: #ffffff;

  --font-family: 'DM Sans', sans-serif;
}
