:root {
  --white: #4CAF50;
  --gray: #ffffff;
  --black: rgb(0, 0, 0);
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(0, 0, 0);
  --dark-secondary-color: #ffffff;
  --tertiary-color: #ffffff;
  --light-tertiary-color: #f5f5f5;
  --text-color: rgb(0, 0, 0);

  --font-family: 'DM Sans', sans-serif;
}

