body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  margin-top: 25px;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px; /* Aumentando a largura */
  margin: 0 auto;
  margin-top: 80px;
}

.profile {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Aumentando o padding */
  display: flex;
  gap: 2rem; /* Aumentando o espaçamento interno */
  align-items: flex-start;
}

.profile-content {
  margin-top: 20px;
  flex: 1;
}

.profile h2 {
  color: #4CAF50;
}

.paragraph {
  margin: 1rem 0;
  padding: 1.5rem; /* Aumentando o padding */
  background-color: #f9f9f9;
  border-left: 6px solid #4CAF50;
  font-size: 1.2rem; /* Aumentando o tamanho da fonte */
  line-height: 1.8; /* Aumentando o espaçamento entre linhas */
  color: #555;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Aumentando a largura máxima */
  margin-left: auto;
  margin-right: auto;
}

.paragraph p {
  margin: 0;
}

.scenario div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem; /* Aumentando o padding */
}

.scenario div img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.scenario div img:hover {
  transform: scale(1.05);
}
